.formulario{
    padding: 50px;
    margin:  0 400px 0 400px ;
    font-size: 15px;
    display: none;
}


/* Mostrar el formulario cuando el botón es presionado */
.formulario.mostrado {
    display: block;
}

.tablita{
    padding: 30px;
    margin:0 100px 0 100px;
    font-size: 15px;
    color: #fff;
}
