/*variables de paleta de colores*/
:root{
    --color-primario:#E0A538;
    --color-secundario:#528988;
    --color-terciario: #373142;
    --color-titulos:#302840;
}
/* reiniciamos la pagina  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background:linear-gradient(to right, var(--color-terciario), var(--color-secundario));
}

/* SECCION I N I C I O */
.inicio{
    background:linear-gradient(to right, var(--color-terciario), var(--color-secundario));
    clip-path: polygon(0 0, 100% 0, 100% 46%, 67% 80%, 0 65%);
    height: 100vh;
    padding:  0 20px;
}
.inicio .contenido{
    max-width: 1100px;
    margin: auto;
    color: #fff;
}
.inicio header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.inicio .logo{
    display: flex;
    align-items: center;
    color: #ef7300;
    font-size: 25px;
}
.inicio .logo img{
    width: 200px;
    
}
#inicio header nav a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
    
}
#inicio header nav a:hover{
    border-bottom: 2px solid var(--color-primario);
}
.inicio .redes {
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0 10px;
}

.inicio .fila{
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
}
.inicio .fila .col{
    width: 50%;
}
.inicio .fila .col h2{
    margin-bottom: 5px;
    font-size: 50px;
}
.inicio .fila .col p{
    font-size: 17px;
    margin-bottom: 5px;
}

.inicio .fila .col .contenedor-img{
    max-width: 400px;
    margin: auto;
}
.inicio .fila .col .contenedor-img img{
    width: 100%;
}
.inicio .fila .col button{
    background: none;
    margin-left: 100px;
    padding: 5px 40px;
    border: 2px solid #ff5b00;
    color: var(--color-terciario);
    background:linear-gradient(to right, var(--color-secundario), var(--color-primario));
    transition: .5s;
    cursor: pointer;
}
.inicio .fila .col button:hover{
    transform: scale(1.1);
}
#icono-nav{
    margin-bottom: 170px;
    height: 30px;
    width: 30px;
    text-align: center;
    transition: .3s;
    cursor: pointer;
    display: none;
}

.sombra{
    filter:drop-shadow(0em 30px 20px var(--color-terciario));
}


/* SECCION S E R V I C I O S */

.titulo h2{
    color: var(--color-primario);
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
}



.servicios{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}
.servicios .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.servicios .fila .col{
    margin: 10px;
    text-align: center;
    width: 30%;
    margin-bottom: 50px;
}
.servicios .fila .col .card{
    border: 1px solid #8d8d8d;
    background-image: url(../img/fonfo-vertical.png);
    background-size:100%;
    padding: 30px;
    border-radius: 20px;
}
.servicios .icono{
    width: 190px;
    height: 190px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.servicios .icono .circulo{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.servicios .icono .circulo img{
    width: 100px;
}

.color1{
    background: linear-gradient(var(--color-primario), var(--color-terciario));
}
.color2{
    background: linear-gradient(var(--color-secundario), var(--color-primario));
}
.color3{
    background: linear-gradient(var(--color-secundario), var(--color-primario));
    
}
.servicios h3{
    margin-bottom: 20px;
}
.servicios .card p{
    height:auto;
    color: #8d8d8d;
    line-height: 28px;
    font-size: 20px;
    font-weight: 600;
}
.servicios .card a{
    text-decoration: none;
    color: #008cff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}





/* seccion HABILIDADES */
.curso{
    background:linear-gradient(var(--color-primario), var(--color-terciario));
    color: #fff;
    padding: 60px 0;
    position: relative;
    top: 100px;
}
.curso h2{
    color: var(--color-terciario);
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
}

.curso h3{
    text-align: center;
}

.curso .contenedor-habi{
    max-width: 1100px;
    margin: auto;
}
.curso .fila{
    display: flex;
    justify-content: space-around;
}
.score{
    padding: 10px;
    margin: auto 0;
}
.score .box{
    width: 100%;
}
.score .box h2{
    display: block;
    text-align: center;
}
.score .box .chart{
    position: relative;
    width: 160px;
    height: 160px;
    margin: auto;
    line-height: 160px;
    font-size: 40px;
    text-align: center;
}

/* Esta clase se genera dinámicamente por la librera para graficos */
.score .box canvas{
    position:absolute;
    top: 0;
    left: 0;
}
/* SECCION T R A B A J O S */
.trabajos{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}
.trabajos h2{
    color: var(--color-primario);
    font-size: 60px;
    text-align: center;
    margin-top: 80px;
}
.trabajos nav{
    text-align: center;
    margin: 30px 0;
}
.trabajos nav a{
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    color: #007be5;
    font-weight: bold;
    padding: 3px 10px;
    border: 3px solid transparent;
}
.trabajos nav a:hover{
    border: 3px solid #ff5b00;
}
/* Esta clase se agregrá dinámicamente cuando haya seleccionada una opción */
.borde{
    border: 3px solid #ff5b00 !important;  
}
.trabajos .galeria .item img{
    width: 100%;
    height: 100%;
    display: block;
}
.trabajos .galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap:30px;
}
.trabajos .galeria .item{
    position: relative;
    overflow: hidden;
    border: 1px solid #8d8d8d ;
    border-radius: 10px;
}
.trabajos .galeria .item .info{
    position: absolute;
    top: -100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color:#fff ;
    width: 100%;
    padding: 18px;
    opacity: 0;
    transition: .3s;
}
.trabajos .galeria .item .info h3{
    font-size: 30px;
    color: #000;
    margin-bottom: 13px;
}
.trabajos .galeria .item .info p{
    color: #8d8d8d;
    display: inline-block;
    font-size: 16px;
    margin: 0 3px;
    padding:  0 5px;
}
.trabajos .galeria .item .info a{
    display: block;
    margin: 10px;
    text-decoration: none;
    color: #007be5;
    font-weight: bold;
}

.trabajos .galeria .item .info span{
    font-weight: 900;
}
.trabajos .galeria .item .info li{
    font-size: 12;
}

.trabajos .galeria .item:hover .info{
    opacity: 1;
    top: 0;
}
/* SECCIÓN C O N T A C T O */
.contacto{
    background:linear-gradient(to right, var(--color-terciario), var(--color-secundario));
    background-size: cover;
    color: var(--color-primario);
    margin-top: 100px;
    padding: 80px 20px;
}
.contacto .contenedor-contacto{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 60px;
    text-align: center;
    padding-bottom: 30px;
}
.contacto .contenedor-contacto .fila{
    display: flex;
}
.contacto .contenedor-contacto .fila .col{
    width: 50%;
}
.contacto .contenedor-contacto .info{
    margin-bottom: 30px;
    border-left: 3px solid var(--color-primario);
    padding-left: 8px;
}
.contacto .contenedor-contacto .info p{
    color: white;
}
.contacto input, .contacto textarea{
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    border: 1px solid var(--color-primario) ;
    margin-bottom: 20px;
    outline: none;
    color: white;
}
.contacto .btn{
    background-color: none;
    padding: 5px 40px;
    border: 2px solid;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to right, #ff5b00, #ff9900);
}

footer{
    background-color: white;
    color: #000;
    padding: 25px 0;
    font-size: 20px;
    text-align: center;
    position: relative;
}
footer a{
    text-decoration: none;
    font-size: 20px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:1180px){
    .inicio{
        clip-path: none;
    }
}
@media screen and (max-width:800px){
    #redes{
        margin-top: 40px;
        width: 10px;
        
    }
    #redes2{
        display: none;
    }
    
    #nav{
        display: none;
    }
    #nav.responsive{
        background-color: rgba(0,0,0,.9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        position: absolute;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }
    #nav.responsive a{
        font-size: 25px;
    }
    #icono-nav{
        display: block;
       
        padding-top: 40px;
    }

    .inicio{
        height: auto;
    }
    .inicio .fila{
        display: block;
    }
    .inicio .fila .col{
        width: 100%;
        text-align: center;
    }
    .inicio .fila .col h2{
        margin-top: 20px;
    }
    .inicio .fila .col .contenedor-img{
        width: 50%;
        margin-top: 30px;
    }
    .inicio .fila .col a{
       display: flex;
       justify-content: center;
       align-items: center;
        width: 70%;
        text-decoration: none;

    }

    .servicios{
        position: static;
        padding: 20px;
    }
    .servicios .fila{
        display: block;
        margin-bottom: 0;
    }
    .servicios .fila .col{
        width: 70%;
        margin: auto;
    }
    .servicios .fila .col .card{
        margin-bottom: 20px;
    }
    .habilidades{
        position: static;
    }

    .trabajos nav a{
        margin: 0 5px;
    }

    .contacto .fila{
        display:  block !important;
    }
    .contacto .fila .col{
        text-align: center;
        width: 100% !important;
    }
    .contacto .fila .col .info{
        float: left;
        font-size: 12px;
        width: 40%;
    }
}
.iconoCerrarSesion{
  width: 48px;
}

/*CSS DEL BOTON FLOTANTE*/

.btn-wsp img{
    position:fixed;
    width:110px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    text-align:center;
    font-size:35px;
    transition: all 300ms ease;
}



@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}

#toolpin{
    position: fixed;
    right:-100px;
    bottom: 110px;
    transform: translate(-50%);
    background-color: var(--color-primario);
    color: #fff;
    white-space: nowrap;
    padding: 3px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease; 
}

#toolpin::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    border: 15px solid;
    border-color: var(--color-primario) #0000 #0000 #0000;
}

#tool:hover #toolpin{
    
    visibility: visible;
    opacity: 1;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    height: auto;
    background-color: #fff;
    border-radius: 6px;
    padding: 10px 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__title{
    font-size: 2.5rem;
}

.modal__paragraph{
    margin-bottom: 10px;
}

.modal__img{
    width: 40%;
    max-width: 300px;
}

.modal__close{
    text-decoration: none;
    color: #fff;
    background-color: var(--color-secundario);
    padding: 10px 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover{
    color: var(--color-secundario);
    background-color: var(--color-primario);
}


@media (max-width:800px) {
    

    .modal__container{
        padding: 2em 1.5em;
    }

    .modal__title{
        font-size: 2rem;
    }
}